<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- Userinfo Service -->
	<bean id="userinfoService" class="com.lndp.service.UserinfoService" > 
		<property name="dao">
			<ref bean="userinfoDAO" />
		</property>
	</bean>
	
	<!-- Security Manager -->
	<bean id="securityManager" class="com.lndp.security.SecurityManager" >
		<property name="dao">
			<ref bean="userinfoDAO" />
		</property>
	</bean>

	<!-- News Service -->
	<bean id="newsService" class="com.lndp.service.NewsService" >
		<property name="dao">
			<ref bean="newsDAO" />
		</property>
	</bean>

	<!-- Company Service -->
	<bean id="companyService" class="com.lndp.service.CompanyService" >
		<property name="dao">
			<ref bean="companyDAO" />
		</property>
	</bean>
	
	<!-- Company Category Service -->
	<bean id="companyCategoryService" class="com.lndp.service.CompanyCategoryService" >
		<property name="dao">
			<ref bean="companyCategoryDAO" />
		</property>
	</bean>
	
</beans>