@charset "UTF-8";
/* CSS Document */
.content{
	width:997px;
	height:346px;
	margin:0px auto;
	margin-top:5px;
}
.contentL{
	float:left;
	width:210px;
	height:346px;
}
.contentLT{
	width:190px;
	height:22px;
	background-color:#fe9d2c;
	color:#FFF;
	font-size:13px;
	font-weight:bold;
	padding-left:20px;
	padding-top:10px;
	letter-spacing:3px;
}
.contentLT img{
	border:0px;
	float:right;
}
.contentLT a{
}
.contentLB{
	width:208px;
	height:314px;
	*height:312px;
	_height:312px;
	border:solid #e7e7e7 1px;

}
.contentLB li{
	list-style:none;
	border-bottom:dashed #CCC 1px;
	padding:5px 25px;
	*padding:5px 10px;
	_padding:5px 10px;
	padding-right:0px;
	margin:5px;
	margin-top:10px;
	*margin-top:10px;
	_margin-top:9px;
	color:#333;
	background:url(../images/tag1.gif);
	background-position:4px;
	background-repeat:no-repeat;
}
.contentLB li img{
	margin-left:10px;
}
.contentLB li a{
	color:#333;
}
.contentLB li a:hover{
	text-decoration:underline;
}
.contentC{
	float:left;
	width:560px;
	height:346px;
}
.contentCT{
	border-bottom:dashed #CCC 1px;
	margin:0px 15px;
	height:24px;
	background:url(../images/tag2.gif);
	background-repeat:no-repeat;
	background-position:left;
	color:#000;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
	padding-top:8px;
	clear:both;
}
.contentCT img{
	float:right;
	margin-top:5px;
	*margin-top:-10px;
	_margin-top:-10px;
	border:none;
}
.contentCB{
	margin:0px 15px;
}
.contentCB img{
	padding:2px;
	border:solid #CCC 1px;
	float:left;
	margin-top:15px;
}
.contentCB ul{
	margin-top:10px;
	margin-left:5px;
	*margin-left:15px;
	_margin-left:15px;
	float:left;
	padding:0px;
	padding-left:10px;
	*padding-left:0px;
	_padding-left:0px;
}
.contentCB ul li{
	list-style:none;
	color:#333;
	border-bottom:dashed #CCC 1px;
	width:340px;
	padding:5px 0px;
	padding-left:20px;
	background:url(../images/tag3.gif);
	background-repeat:no-repeat;
	background-position:left;
	height:16px;
	*height:auto;
	_height:auto;
}
.contentCB ul li div{
	margin-left:20px;
	float:right;
	color:#999;
}
.contentCB ul li a{
	color:#333;
	float:left;
}
.contentCB ul li a:hover{
	text-decoration:underline;
}
.contentCB ul li img{
	margin-top:-3px;
	margin-left:10px;
	float:left;
}
.contentC .movement{
	border-bottom:dashed #CCC 1px;
	height:124px;
	margin:0px 15px;
}
.contentC .movement ul{
	padding:0px;
	margin:0px;
	padding-top:10px;
}
.contentC .movement ul li{
	margin:0px;
	clear:both;
	list-style:none;
	background:url(../images/tag4.gif);
	background-repeat:no-repeat;
	background-position:left;
	height:15px;
	*height:auto;
	_height:auto;
	padding:8px 0px 5px 20px;
	color:#333;
}
.contentC .movement ul li img{
	margin-top:-5px;
	margin-left:5px;
	float:left;
}
.contentC .movement ul li div{
	float:right;
	color:#999;
}
.contentC .movement ul li a{
	float:left;
	color:#333;
}
.contentC .movement ul li a:hover{
	text-decoration:underline;
}
.contentR{
	float:left;
	width:227px;
	height:346px;
}
.contentRT{
	width:207px;
	height:80px;
	background-color:#fe9d2c;
	padding:10px;
	color:#FFF;
}
.contentRT div{
	font-size:13px;
	letter-spacing:1px;
	font-weight:bold;
	margin-bottom:5px;
}
.contentRT p{
	padding:0px;
	margin:0px;
	height:20px;
}
.contentRB{
	width:227px;
	height:246px;
	*height:246px;
	_height:241px;
	background-color:#fff8f0;
}
.contentRBT{
	border-bottom:dashed #CCC 1px;
	margin:0px 5px;
	height:24px;
	background:url(../images/tag2.gif);
	background-repeat:no-repeat;
	background-position:left;
	color:#000;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
	padding-top:8px;
	clear:both;
}
.contentRBT img{
	float:right;
	margin-top:10px;
	*margin-top:-15px;
	_margin-top:-15px;
	border:none;
}
.contentRB ul{
	padding:0px;
	margin:0px;
	border-bottom:dashed #CCC 1px;
	margin-top:11px;
	padding-bottom:14px;
	*padding-bottom:12px;
	_padding-bottom:7px;
}
.contentRB ul li{
	list-style:none;
	margin:0px 10px;
	background:url(../images/tag6.gif);
	background-repeat:no-repeat;
	background-position:left;
	height:15px;
	padding:7px 0px 5px 0px;
	padding-left:20px;
	color:#333;
}
.contentRB ul li a{
	color:#333;
}
.contentRB ul li a:hover{
	text-decoration:underline;
}
.recommend{
	clear:both;
	width:997px;
	height:374px;
	margin:0px auto;
	background:url(../images/index_11.gif);
}
.recommendT{
	border-bottom:dashed #CCC 1px;
	margin:0px 5px;
	margin-top:10px;
	height:24px;
	background:url(../images/tag7.gif);
	background-repeat:no-repeat;
	background-position:left;
	color:#000;
	font-size:14px;
	font-weight:bold;
	padding-left:25px;
	padding-top:12px;
	clear:both;
}
.recommendT img{
	border:none;
	margin-left:20px;
}

/* News container start */
.newsContainer{
	margin:0px 15px;
}
.newsContainer img{
	padding:2px;
	border:solid #CCC 1px;
	float:left;
	margin-top:15px;
}
.newsContainer ul{
	margin-top:10px;
	margin-left:5px;
	*margin-left:15px;
	_margin-left:15px;
	float:left;
	padding:0px;
	padding-left:10px;
	*padding-left:0px;
	_padding-left:0px;
}
.newsContainer ul li{
	list-style:none;
	color:#333;
	border-bottom:dashed #CCC 1px;
	width:550px;
	padding:5px 0px;
	padding-left:20px;
	background:url(../images/tag3.gif);
	background-repeat:no-repeat;
	background-position:left;
	height:16px;
	*height:auto;
	_height:auto;
}
.newsContainer ul li div{
	margin-left:20px;
	float:right;
	color:#999;
}
.newsContainer ul li a{
	color:#333;
	float:left;
}
.newsContainer ul li a:hover{
	text-decoration:underline;
}
.newsContainer ul li img{
	margin-top:-3px;
	margin-left:10px;
	float:left;
}
.newsTitle{
	color:#333;
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	margin-left:10px;
	align:center;
}
/* News container end */

/* Plaza info container start */
.plazaContent{
	margin:0px 15px;
}
.plazaContent p{
	width:650px;
}
/* Plaza info container end */

/* contactUs container start */
.contactUs{
	margin:0px 15px;
}
.contactUs p{
	width:680px;
}
.emap{
	margin-left:10px;
}
/* contactUs container end */

/* company show start */
.compnayShow ul{
	margin-top:10px;
	margin-left:5px;
	*margin-left:15px;
	_margin-left:15px;
	float:left;
	padding:0px;
	padding-left:10px;
	*padding-left:0px;
	_padding-left:0px;
}
.compnayShow ul li{
	list-style:none;
	color:#333;
	width:550px;
	padding:5px 0px;
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:left;
	height:16px;
	*height:auto;
	_height:auto;
}
/* company show end */

/* admin login start */
.adminLogin ul{
	margin-top:10px;
	margin-left:5px;
	*margin-left:15px;
	_margin-left:15px;
	float:left;
	padding:0px;
	padding-left:10px;
	*padding-left:0px;
	_padding-left:0px;
}
.adminLogin ul li{
	list-style:none;
	color:#333;
	width:550px;
	padding:5px 0px;
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:left;
	height:16px;
	*height:auto;
	_height:auto;
}
/* admin login end */